version: "3.9"

services:
  backend:
    build: ./Backend
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend-nginx
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
